

$font-family: 'Open Sans', sans-serif;
$font-size: 18px;
$font-color: rgba(0, 37, 46, 1);
$line-height: 28px;
$device-tab: 1200px;
$device-mobile: 576px;

@mixin box-shadow($property) {
  -webkit-box-shadow: $property;
  -moz-box-shadow: $property;
  box-shadow: $property;
}

/* custom css */

body {
	font-family: $font-family;
	font-size: $font-size;
	color: $font-color;
	line-height: $line-height;
	padding: 0;
	margin: 0;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

.flex-row {
	display: flex;

	.res-col {
		flex: 1;
		margin-left: 15px;
		margin-right: 15px;
	}

	.res-col-small {
		flex: 1;
		margin-left: 15px;
		margin-right: 15px;
	}
}

.flex-row-small {
	display: flex;

	.res-col {
		flex: 1;
		margin-left: 15px;
		margin-right: 15px;
	}
}

.button {
	display: inline-block;
	background-color: rgba(255, 82, 191, 1);
	font-size: 0.8rem;
	line-height: 1rem;
	font-weight: 700;
	padding: 1rem 5rem;
	color: rgba(235, 251, 255, 1);
	border-radius: 2rem;

	@include box-shadow( 0px 1px 5px 0px rgba(194,194,194,1));

	&:hover {
		text-decoration: none;
		color: rgba(235, 251, 255, 1);
		@include box-shadow( 1px 2px 7px 0px rgba(194,194,194,1));
	}
}

.order-12 {
	order: 12;
}

.order-1 {
	order: 1;
}

.text-right { text-align: right; }

.break { display: block; }

.logo {
	display: block;
	max-width: 100%;
    height: auto;
}

a { text-decoration: none; }

.heading {
	font-family: 'Poppins', sans-serif;
	font-size: 2rem;
	color: $font-color;
	line-height: 3rem;
	margin: 0px 0px 20px;
	padding: 0;
}

p { margin-bottom: 1.5rem; }

.img-fluid {
	max-width: 100%;
	height: auto;
}

.v-center {
	display: table;
	height: 100%;

	div {
		display: table-cell;
		vertical-align: middle;
	}
}



.intro {
	width: 100%;
	height: 100vh;
	background-image: url('../images/bg-hero-desktop.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(235, 251, 255, 1);
	header {
		padding: 60px 0px;

		.button {
			color: $font-color;
			background-color: rgba(255, 255, 255, 1);

			&:hover {
				color: $font-color;
			}
		}
	}
}



.feature-1, .feature-2, .feature-3 {
	padding: 2rem 0;
	.container {
		width: 90%;
		padding: 1rem;
		border-radius: 1.5rem;
	    -webkit-box-shadow: 1px 0px 5px 0px rgba(247,247,247,1);
	    -moz-box-shadow: 1px 0px 5px 0px rgba(247,247,247,1);
	    box-shadow: 1px 0px 5px 0px rgba(247,247,247,1);
	}

	p {
		color: rgba(128, 141, 153, 1);
	}
}

.feature-1 {
	padding-top: 4rem;
}

.feature-3 {
	padding-bottom: 4rem;
}

.cta {
	margin-top: 4rem;
	margin-bottom: -4rem;

	.cta-box {
		width: 650px;
	    margin: 0 auto 0;
	    text-align: center;
	    padding: 2.5rem 1.5rem;
	    border-radius: 1rem;
	    background-color: #ffffff;
	    -webkit-box-shadow: 1px 0px 5px 0px rgba(247,247,247,1);
    	-moz-box-shadow: 1px 0px 5px 0px rgba(247,247,247,1);
    	box-shadow: 1px 0px 5px 0px rgba(247,247,247,1);

	    .button {
	    	padding: 1.5rem 6rem;
	    	font-size: 1.2rem;
	    }
	}
}

%absolute-content {
  	position: absolute;
    left: 0;
    top: 0.2rem;
}

footer {
	padding: 10rem 0 3rem;
	background-color: rgba(0, 37, 46, 1);
	color: #ffffff;

	.flex-row:nth-child(2) {
		.res-col:nth-child(1) {
			flex: 2;
		}
	}

	ul {
		list-style-type: none;

		li {
			position: relative;
			margin-top: 1.5rem;
			font-size: 1rem;
			a {
				color: #ffffff;

				&:hover {
					color: rgba(235, 251, 255, 1);
				}
			}
		}		
	}

	.contact {
		
		li:nth-child(1):before {
			@extend %absolute-content;
			content: url('../images/icon-location.svg');
		}
		li:nth-child(2):before {
			@extend %absolute-content;
			content: url('../images/icon-phone.svg');
		}
		li:nth-child(3):before {
			@extend %absolute-content;
			content: url('../images/icon-email.svg');
		}
		li {
			font-size: 0.9rem;
			line-height: 1.5rem;
			padding-left: 30px;
		}
	}

	ul.social-links {
		li {
			display: inline-block;
			margin-right: 1rem;
			img {
				width: 32px;
			}
		}
	}

	.copyright {
		text-align: right;
		font-size: 0.8rem;
		margin-bottom: 0;
	}
}


@media screen and (max-width: $device-tab) {
	.order-12 {
		order: 1;
	}

	.order-1 {
		order: 12;
	}
	.container {
		width: 100%;
	}

	.flex-row {
		flex-direction: column;

		.res-col-small {
			flex: 0 0 50%;
		}
	}

	.intro {
		background-image: url('../images/bg-hero-mobile.svg');
		text-align: center;
		height: auto;
		padding-bottom: 1.5rem;
		a {
			margin-bottom: 1.5rem;
		}
	}

	.heading {
		text-align: center;
	}

	.feature-1, .feature-2, .feature-3 {
		p {
			text-align: center;
		}
		.heading {
			margin-top: 2rem;
		}
	}

	.cta {
		.cta-box {
			width: 80%;			
		}
	}

	footer {
		ul {
			li {
				margin-top: 1rem;
			}
		}
		.col-lg-2 {
			ul {
				padding-left: 0;
				margin-bottom: 0;
			}
		}
		.social-links {
			margin-top: 1.5rem;
			padding-left: 0;
			text-align: center;
		}
		.copyright {
			text-align: center;
		}
	}

}

@media screen and (max-width: $device-mobile) {
	.feature-1, .feature-2, .feature-3 {
		padding: 1rem;
	}

	.feature-1 {
		padding-top: 4rem;
	}

	.feature-3 {
		padding-bottom: 4rem;
	}

	.heading {
		font-size: 1.5rem;
		line-height: 2rem;
	}

	.logo { padding-top: 10px; }

	header {
		.button {
			padding: 1rem 2rem;
		}
	}	

	.cta {
		.cta-box {
			.button {
				font-size: 0.8rem;
				padding: 1rem 1rem;
			}
		}
	}
}